{% extends 'controlpanel/controlpanel_base.html' %}
{% block content %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container w3-padding">
    <label class="fa fa-users w3-xxlarge"> </label> <label class="w3-xxlarge">Users</label>
  </header>

<div class="w3-container">

    <button type="button" class="w3-button w3-blue w3-margin-bottom" onclick="document.getElementById('newmodal').style.display='block'"><i class="fa fa-user-plus"></i>  Create New Staff Member</button>

{% for user in users %}

    <div class="w3-container w3-card w3-white w3-round w3-margin-bottom w3-padding">
        <img src="../../static/icons/avatar.png" alt="Avatar" class="w3-left w3-circle w3-margin-right w3-margin-bottom" style="width:60px">
        <h4>{{ user.username }}</h4>
        <hr class="w3-clear">
        
            <p> Full Name: {{ user.fullname }} </p>
            <p> Address: {{ user.address }} </p>
            <p> Birthday: {{ user.birthdate }} </p>
            <p> NIC: {{ user.nic }} </p>
            <p> Mobile Phone: {{ user.mobilephone }} </p>
            <p> Home Phone: {{ user.homephone }} </p>
            <p> Email: {{ user.email }} </p>
            <p> Last Login: {{ user.last_login }} </p>
            <p> Joined Date: {{ user.date_joined }} </p>

        <button type="button" class="w3-button w3-green" onclick="editFunction({{ user.pk }})"><i class="fa fa-edit"></i>  Edit</button>
        <button type="button" class="w3-button w3-red" onclick="deleteFunction({{ user.pk }})"><i class="fa fa-user-times"></i>  Remove</button>
      </div>

{% endfor %}

</div>

<!-- modal for new staff-->

  <div id="newmodal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-round">
      <header class="w3-container">
        <span onclick="document.getElementById('newmodal').style.display='none'"
        class="w3-button w3-display-topright w3-round">&times;</span>
        <h2>Create new Staff Member</h2>
      </header>
        <hr class="w3-clear">
        <form class="w3-container" action="{% url 'cpnewstaff' %}" method="post">
            {% csrf_token %}
            <table class="w3-table">
                {{ newform }}
            </table>

              <footer class="w3-margin-top">
                <button type="submit" class="w3-button w3-blue w3-margin-bottom"><i class="fa fa-edit"></i>  Create</button>
                <button type="reset" class="w3-button w3-orange w3-margin-bottom"><i class="fa fa-edit"></i>  Clear</button>
                <button type="button" class="w3-button w3-green w3-margin-bottom" onclick="document.getElementById('newmodal').style.display='none'" ><i class="fa fa-remove"></i>  Cancel</button>
              </footer>
        </form>
    </div>
  </div>

{% endblock %}

